# File: /3a-git-delta/config/git-delta.config
# ──────────────────────────────────────────────────────────────────────────────
# 🐙🏞️  Delta / git integration.
# ──────────────────────────────────────────────────────────────────────────────

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[include]
    path = ~/.config/git-delta/themes/catppuccin.gitconfig

[delta]
    # Use `n` and `N` to move between diff sections
    navigate = true
    # Dark mode (alternatively use `light = true`, or omit for auto-detection)
    dark = true
    # Theme
    syntax-theme = catppuccin-macchiato
    # Not from Catppuccin, but close enough to complement
    minus-style = "syntax #362b3f" # darkened/muted purple
    minus-emph-style = "syntax #513352" # slightly brighter purple
    plus-style = "syntax #2a3834" # darkened/muted teal/green
    plus-emph-style = "syntax #294a3d" # slightly brighter teal/green

[merge]
    conflictstyle = zdiff3
