# File: /3a-git-delta/config/git-delta.config
# ──────────────────────────────────────────────────────────────────────────────
# 🐙🏞️  Delta / git integration.
# 
# ──────────────────────────────────────────────────────────────────────────────

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[include]
    path = ~/.config/git-delta/themes/catpuccin-macchiato

[delta]
    features = catpuccin-macchiato
    # Use `n` and `N` to move between diff sections
    navigate = true
    # Dark mode (alternatively use `light = true`, or omit for auto-detection)
    dark = true

[merge]
    conflictstyle = zdiff3
